html{
    height: 100%;
    font-family: "Roboto";
    /* #1992D4 */
    --main-bg-color: #9c8062;
    --main-head-color: #d5bd89;
    --main-bg-color-hover: #1a87c2;

}

body{
    height: 100%;
    display: flex;
    margin: 0;
    background-color: #E2E8F0;
}

.redBox{
    border: 0px solid red;
}

#root_grid{
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar head"
        "sidebar main";
}

#head{
    grid-area: head;
    background-color: var(--main-head-color);
    box-shadow: 0px -5px 6px 10px darkgrey;
}

#head_grid{
    height: 100%;
    display: grid;
    grid-template-rows: 4fr 5fr;
    grid-template-columns: 11fr 7fr;
    grid-template-areas: 
        "search profile-and-alert"
        "userdata button-row";
}

#search{
    grid-area: search;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "search-icon searchbar";
}

#search-icon {
    grid-area: search-icon;
    display: flex;
    justify-content: end;
    align-items: center;
}

#search-icon svg{
    width: 30%;
    padding-right: 10%;
}

#searchbar{
    grid-area: searchbar;
    display: flex;
    align-items: center;
}

#searchbar input{
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    height: 40%;
    width: 95%;

}

#profile-and-alert{
    grid-area: profile-and-alert;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-areas: ". alert-icon profile-pic-small user-name-small";
}

#alert-icon {
    grid-area: alert-icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-icon svg{
    width: 33%;
}

#profile-pic-small{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: profile-pic-small;

}

#profile-pic-small img{
    border-radius: 100%;
    width: 70%;
}

#profile-pic-large{
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: profile-pic-large;
    padding-right: 5%;
}

#profile-pic-large img{
    border-radius: 100%;
    width: 50%;
}

#user-name-small{
    grid-area: user-name-small;
    display: flex;
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
    padding-left: 5%;
}

#userdata{
    grid-area: userdata;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "profile-pic-large user-name-large";
}

#profile-pic-large{
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: profile-pic-large;
    padding-right: 15%;
}

#profile-pic-large img{
    border-radius: 100%;
    width: 60%;
}

#user-name-large{
    grid-area: user-name-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
}

#user-name-large span{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 150%;
}

#button-row{
    grid-area: button-row;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "new-button upload-button share-button";
    justify-items: center;
    align-items: center;
}

#new-button{
    grid-area: new-button;
}

#upload-button{
    grid-area: upload-button;
}

#share-button{
    grid-area: share-button;
}

.blue-button{
    height: 40px;
    width: 110px;
    border-radius: 20px;
    background-color: var(--main-bg-color);
    color: white;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-button:hover{
    background-color: var(--main-bg-color-hover);
}






#sidebar{
    grid-area: sidebar;
    background-color: var(--main-bg-color);
}

#sidebar_grid{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

#logo{
    display: grid;
    padding-bottom: 5%;
    grid-template-columns: 1fr 3fr;
}

#logo_icon svg{
    width: 60%;
}

#logo_nametag{
    font-size: 1.7rem;
}

#navigation{
    display: grid;
    grid-auto-rows: 50px;
    grid-template-rows: 50px;
}

.nav-row{
    display: grid;
    grid-template-columns: 1fr 3fr;    
}

.nav-row:hover{
    border-radius: 20px;
    background-color: var(--main-head-color);
    padding: 0px 0px 0px 20px;
    margin: 0px 20px 0px 20px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
}

.icon svg{
    width: 33%;
}

.nametag{
    display: flex;
    align-items: center;
    color: white;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
}






#main{
    grid-area: main;
    padding: 0px 20px 60px 20px;
    display: grid;
    column-gap: 25px;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
}

.main-section-title{
    display: flex;
    align-items: end;
    font-size: 1.3rem;
    font-weight: 400;
}

.main-section-box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 6px 0px darkgrey;
}

#projects{
    grid-area: projects;
    display: grid;
    gap:10px;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "projects-title" "projects-cards";
}

#projects-title{
    grid-area: projects-title;
}

#projects-cards{
    grid-area: projects-cards;
    gap:30px;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
}

.card{
    border-left: 8px solid var(--main-bg-color-hover);
    display: grid;
    padding: 20px;
    grid-template-rows: 4fr 1fr;
}

.card p{
    font-size: 0.85rem;
    font-weight: 300;
}

.card p span{
    font-size: 1.3rem;
    font-weight: 400;
}

.card-buttons{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: end;
}

.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon svg{
    width: 25px;
}

#announcements{
    grid-area: announcements;
    display: grid;
    gap:10px;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "announcements-title" "announcements-box";
}

#announcements-title{
    grid-area: announcements-title;
}

#announcements-box{
    grid-area: announcements-box;
    padding: 30px;
    align-content: space-between;
}

#announcements-box p{
    font-size: 0.8rem;
    font-weight: 300;
}

#announcements-box p span{
    font-size: 1rem;
    font-weight: 500;
}

#trending{
    grid-area: trending;
    display: grid;
    gap:10px;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "trending-title" "trending-box";
}

#trending-title{
    grid-area: trending-title;
}

#trending-box{
    grid-area: trending-box;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trending-profile{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    font-size: 0.9rem;
    font-weight: 300;
}

.trending-profile span{
    font-weight: 400;
}
.profile-pic-trending{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-trending img{
    width: 58%;
    height: 80%;
    border-radius: 100%;
}